.footer {
  width: 100%;
  height: 200px;
  background-color: #69ba93;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

h1 {
  color: rgb(159, 6, 154);
  font-family: cursive;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
  padding-bottom: 30px;
}