.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  flex: 50%;
}

.grid-container img {
  max-width: 220%; /* Adjust this value to increase/decrease spacing */
  height: 70%; 
}

